*{ margin: 0;
  padding: 0;
}

body{
}

.relative{
  position:relative;
  width:100%;
}

.lp{
  position:absolute;
  width:100%;
  z-index:1;
}

.btn-top{
  position:absolute;
  margin-top:50%;
  width:100%;
/*
  bottom:93%;
  width:100%;
*/
  z-index:2;
}

.btn-bottom{
  position:absolute;
  margin-top:1038%;
  width:60%;
  margin-left:18%;
/*
  bottom:5.3%;
  margin-left:17%;
  width:65%;
*/
  z-index:2;
}

.twitter{
  position:absolute;
  margin-top:1089%;
  width:20%;
  margin-left:15%;
/*
  bottom:0.7%;
  margin-left:20%;
  width:16%;
*/
  z-index:2;
}

.mail{
  position:absolute;
  margin-top:1089%;
  width:20%;
  margin-left:64%;
/*
  bottom:0.7%;
  margin-left:63%;
  width:16%;
*/
  z-index:2;
}
