*{ margin: 0;
  padding: 0;
}

body{
}

.relative{
  position:relative;
  width:100%;
}

.lp{
  width:100%;
}

.btn-top{
  position:absolute;
  bottom:93%;
  width:100%;
}

.btn-bottom{
  position:absolute;
  bottom:5.3%;
  margin-left:17%;
  width:65%;
}

.twitter{
  position:absolute;
  bottom:0.7%;
  margin-left:20%;
  width:16%;
}

.mail{
  position:absolute;
  bottom:0.7%;
  margin-left:63%;
  width:16%;
}
